#calc {
  background-color: _palette(bg-alt);
}

.calc-row {
  display: flex;
  padding-bottom: 2em;

  label {
    align-self: flex-end;
  }
}

.calc-input {
  display: flex;
  align-items: center;

  span {
    padding-right: 0.5em;
  }
}

.payment-table {
  max-width: 90%;
}

#calc-button-row {
  padding-bottom: 2em;
}

option {
  color: black;
}

.switchWrapper {
  display: inline-block;
  width: 3.5em;
  background: slategray;
  padding: 0.3em;
  border-radius: 3em;
}

.switchWrapperActive {
  background: #69e062;
}

.switchBubble {
  float: left;
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 3em;
}

.switchWrapperActive .switchBubble {
  float: right;
}
