#calc {
  background-color: _palette(bg-alt);
}

.calc-row {
  display: flex;
  padding-bottom: 2em;

  label {
    align-self: flex-end;
  }
}

.calc-input {
  display: flex;
  align-items: center;

  span {
    padding-right: 0.5em;
  }
}

.payment-table {
  max-width: 90%;
}

#calc-button-row {
  padding-bottom: 2em;
}

option {
  color: black;
}
