// HEADER
.port-navbar.port-nav-base {
  width: 100%;
  z-index: 15;
  padding: 1rem;
  background-color: $jet;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
    }

    &-link {
      color: white;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 1rem;

      &.active {
        border: 1px solid $gainsboro;
        color: $gainsboro;
      }

      &:hover,
      &:focus {
        background-color: $gainsboro;
        color: $jet;
      }
    }
  }
}

.port-navbar.port-nav-base.port-nav-default {
  padding: 30px;
  background-color: $secondary !important;
}

.square-logo {
  max-width: 20vw;
  max-height: 10vh;
  object-fit: contain;
}

.apply-button {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}
