@import './shared/mixins';
@import './shared/colors';

@import './home';
@import './header';
@import './blog';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica';
}

.absolute {
  position: absolute;
}

.no-select {
  user-select: none;
}

.base-page {
  color: black;
  background-color: $gainsboro;
  min-height: 100vh;

  .page-header {
    font-weight: 700;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 1.5rem;
  }
}

.apply-button {
  background-color: $dark-sea-green !important;
  font-weight: bold !important;
}
